{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a New Product</h1>

    <form>
  <fieldset>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Default input</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    </div>
    <br/>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Default input</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    </div>
    <br/>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Default input</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    </div>
    <br/>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Default input</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    </div>
    <br/>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Default input</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    </div>
    <br/>
    <div class="form-group">
      <label for="formFile" class="form-label">Select Image</label>
      <input class="form-control" type="file" id="formFile">
    </div>
    
    <br/>
    <br/><br/>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br/>
    <br/><br/>
    <br/>
  </fieldset>
</form>

{% endblock %}