{% extends 'base.html.twig' %}

{% block body%}
    <article>
        <h2>Title of the Article</h2>
        <div class="metadata">Writen on 10/05/2021 at 19h00 in the category political rights</div>
        <br/>
    <br/>
        <div class="content">
            <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
            <br/>
            <br/>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident."</p>
            <hr />
            <p>Efferebantur fames in Castricius et tuebatur incendebat sudoribus tuebatur saeviore ardore matris concepta 
            incendebat legiones fames amplificatis matris sudoribus fames fames ardore induratae induratae incohibili 
            rabie desperatio sudoribus bellicis saeviore quam quam induratae et ardore bellicis sudoribus induratae 
            viribus quam amplificatis Castricius in ardore ardore viribus desperatio incendebat fames concepta.</p>
            <p>Efferebantur fames in Castricius et tuebatur incendebat sudoribus tuebatur saeviore ardore matris concepta 
            incendebat legiones fames amplificatis matris sudoribus fames fames ardore induratae induratae incohibili 
            rabie desperatio sudoribus bellicis saeviore quam quam induratae et ardore bellicis sudoribus induratae 
            viribus quam amplificatis Castricius in ardore ardore viribus desperatio incendebat fames concepta.</p>
        </div>
    </article>
    <br/>
    <br/>
{% endblock %}